n8n_workflow_user_fixed.json
{
  "name": "Literary AI Songwriter Agent (Stable Agent)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-lyrics",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "bb6f6f52-99d9-48b7-81f3-c61f5f0a342f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatInput = $input.first().json.body.chatInput;\nreturn [{ json: { chatInput: `SYSTEM: You are a precise linguistic analyst. Analyze the provided lyrics in extreme detail. You MUST strictly divide your output into two sections with these exact headers:\n\n[STRUCTURE]\nIdentify the poetic meter (стихотворный размер, e.g., iambic, trochaic), the number of feet (количество стоп), the syllable count per line, and the rhyme scheme. Be precise and analytical.\n\n[METAPHORS]\nExtract and list the key metaphors, imagery, and poetic devices found in the text.\n\nUSER: Analyze this text:\\n${chatInput}` } }];"
      },
      "id": "93b19102-2936-4f9f-b4e2-64b3183a294b",
      "name": "Build: Analyzer Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        16
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        -240
      ],
      "id": "35b77113-d206-49e3-acd6-e2f47fbfe7a9",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "anthracite-org/magnum-v4-72b",
          "mode": "list",
          "cachedResultName": "anthracite-org/magnum-v4-72b"
        },
        "options": {
          "baseURL": "https://polza.ai/api/v1",
          "temperature": 0.1
        },
        "builtInTools": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        -144
      ],
      "id": "2be94c79-b0a1-49da-af63-2cddde135b77",
      "name": "OpenAI Chat Model",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        704,
        -176
      ],
      "id": "c831e1b5-291e-4d80-b051-a2284acee049",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const chatInput = $('Webhook').first().json.body.chatInput;\nconst targetLang = $('Webhook').first().json.body.targetLanguage || 'English';\nconst analysis = $json.output || $json.text;\nreturn [{ json: { chatInput: `SYSTEM: You are the Cultural Bridge and Translator. Analyze the lyrics and divide your output into two sections using these exact headers:\n\n[MOOD]\nSummarize the song's emotional payload, mood, and idioms.\n\n[TRANSLATION]\nProvide a literal, close-to-original semantic translation of the lyrics into ${targetLang}.\n\nUSER: Analyze and translate:\\n${chatInput}`, analysis: analysis, targetLanguage: targetLang } }];"
      },
      "id": "16567498-53aa-49cb-a06e-22bdd4fe052a",
      "name": "Build: Bridge Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        0
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        -16
      ],
      "id": "87cace77-3790-4cda-a445-26e9e3c62d3d",
      "name": "AI Agent1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "anthracite-org/magnum-v4-72b",
          "mode": "list",
          "cachedResultName": "anthracite-org/magnum-v4-72b"
        },
        "options": {
          "baseURL": "https://polza.ai/api/v1",
          "temperature": 0.1
        },
        "builtInTools": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        832,
        160
      ],
      "id": "64f11195-883e-4821-84c2-8f30ed98bf43",
      "name": "OpenAI Chat Model1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        944,
        192
      ],
      "id": "c73abb96-cb34-4fd1-8690-12286636462c",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $('Webhook - Poet').first().json.body;\nconst analysis = body.analysis || 'Unknown structure';\nconst bridge = body.bridge || 'Unknown mood';\nconst targetLang = body.targetLanguage || 'English';\n\nreturn [{ json: { chatInput: `SYSTEM: You are Rocinante, a brilliant rock/pop songwriter. Craft final ${targetLang} lyrics based on the emotional payload. Respect the syllable structure and keep the vibe authentic to ${targetLang}.\\n\\nUSER: Write ${targetLang} song lyrics.\\nStructure:\\n${analysis}\\n\\nEmotional meaning:\\n${bridge}`, analysis: analysis, bridge: bridge, targetLanguage: targetLang } }];\n"
      },
      "id": "b27c3bab-0c09-4d2d-805d-89b9fbb39641",
      "name": "Build: Poet Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        240
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1440,
        -16
      ],
      "id": "839d626c-ae0a-4837-876a-dd4278698699",
      "name": "AI Agent2",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "thedrummer/rocinante-12b",
          "mode": "list",
          "cachedResultName": "thedrummer/rocinante-12b"
        },
        "options": {
          "baseURL": "https://polza.ai/api/v1",
          "temperature": 0.8
        },
        "builtInTools": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1312,
        192
      ],
      "id": "350c9544-f9c7-42b7-91c5-a727dc4103cf",
      "name": "OpenAI Chat Model2",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1456,
        192
      ],
      "id": "353425dd-9585-4d8a-a535-f0068a1dce9d",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "jsCode": "\nconst analysisOutput = $('AI Agent').first().json.output || $('AI Agent').first().json.text || '';\nconst bridgeOutput = $('AI Agent1').first().json.output || $('AI Agent1').first().json.text || '';\n\nlet structure = analysisOutput;\nlet metaphors = \"No metaphors found.\";\n\nconst metaIndex = analysisOutput.indexOf(\"[METAPHORS]\");\nif (metaIndex !== -1) {\n    structure = analysisOutput.substring(0, metaIndex).replace(\"[STRUCTURE]\", \"\").trim();\n    metaphors = analysisOutput.substring(metaIndex).replace(\"[METAPHORS]\", \"\").trim();\n} else if (analysisOutput.includes(\"METAPHORS:\")) {\n    const parts = analysisOutput.split(\"METAPHORS:\");\n    structure = parts[0].replace(\"STRUCTURE:\", \"\").trim();\n    metaphors = parts[1].trim();\n}\n\nlet mood = bridgeOutput;\nlet translation = bridgeOutput; \n\nconst transIndex = bridgeOutput.indexOf(\"[TRANSLATION]\");\nif (transIndex !== -1) {\n    mood = bridgeOutput.substring(0, transIndex).replace(\"[MOOD]\", \"\").trim();\n    translation = bridgeOutput.substring(transIndex).replace(\"[TRANSLATION]\", \"\").trim();\n}\n\nreturn [{ json: { \n    structure_output: structure, \n    metaphors_output: metaphors,\n    mood_output: mood,\n    poet_output: translation \n} }];\n"
      },
      "id": "1eab1241-9940-4c86-bba4-fe163a98406f",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "poet-agent",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "a98714b4-ce57-4ec6-8369-02fc99a38b41",
      "name": "Webhook - Poet",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        752,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst poetOutput = $('AI Agent2').first().json.output || $json.output || $json.text || 'Error';\nreturn [{ json: { poet_output: poetOutput } }];\n"
      },
      "id": "d6b157a8-90ad-4463-bb6a-228c365edef9",
      "name": "Format Poet Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        240
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "literary-editor",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "a8fbb5c9-6550-47ef-9695-283d7924bfac",
      "name": "Webhook - Editor",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        752,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $('Webhook - Editor').first().json.body;\nconst poetDraft = body.poetDraft || '';\nconst structure = body.structure || '';\nconst mood = body.mood || '';\nconst targetLang = body.targetLanguage || 'English';\n\nreturn [{ json: { chatInput: `SYSTEM: You are a Senior Literary Editor and Master Poet with decades of experience in songwriting across all genres and languages. Your task is to perform a FINAL SURGICAL POLISH on an already-crafted song translation.\n\nCRITICAL CONSTRAINTS:\n1. You MUST NOT alter the core meaning, emotional intent, or narrative arc of the text. The song's soul is sacred.\n2. You MUST preserve the existing syllable structure and rhythmic pattern as closely as possible.\n3. You may ONLY make the following types of corrections:\n   - Replace awkward or unnatural word choices with more elegant, singable alternatives\n   - Fix grammatical issues while keeping the poetic register\n   - Improve internal rhyme quality and consonance where it doesn't sacrifice meaning\n   - Smooth transitions between verses for better vocal flow\n   - Ensure cultural authenticity of idioms and expressions in ${targetLang}\n4. Output ONLY the corrected song lyrics. No commentary, no explanations, no annotations.\n5. If the text is already excellent, return it unchanged. Do NOT change things for the sake of changing them.\n\nSTRUCTURAL REFERENCE (for rhythmic guidance):\n${structure}\n\nEMOTIONAL REFERENCE (mood to preserve):\n${mood}\n\nUSER: Polish this ${targetLang} song draft. Return ONLY the final lyrics:\n${poetDraft}` } }];\n"
      },
      "id": "5c945424-97d1-4764-ae8d-f29d2140e20f",
      "name": "Build: Editor Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        520
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1200,
        520
      ],
      "id": "aa8da449-1c7e-45d3-9bb1-4a20604565fb",
      "name": "AI Agent3",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "anthropic/claude-sonnet-4",
          "mode": "list",
          "cachedResultName": "anthropic/claude-sonnet-4"
        },
        "options": {
          "baseURL": "https://polza.ai/api/v1",
          "temperature": 0.3
        },
        "builtInTools": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1100,
        700
      ],
      "id": "bf390edb-4f46-42cd-b767-02cc51965a91",
      "name": "OpenAI Chat Model3",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1300,
        700
      ],
      "id": "10387393-9e93-4908-b850-e4beb0fa871b",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "jsCode": "\nconst editorOutput = $('AI Agent3').first().json.output || $json.output || $json.text || 'Error';\nreturn [{ json: { editor_output: editorOutput } }];\n"
      },
      "id": "07281d9a-4a05-4725-b119-b2d3801eede9",
      "name": "Format Editor Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        520
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build: Analyzer Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build: Analyzer Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Build: Bridge Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build: Bridge Request": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build: Poet Request": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Format Poet Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Poet": {
      "main": [
        [
          {
            "node": "Build: Poet Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Editor": {
      "main": [
        [
          {
            "node": "Build: Editor Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build: Editor Request": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Format Editor Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  }
}